data_preparation/
.snakemake*
template_slurm.sh

# indexing and creating a sequence dictionary gets done within pipeline
data/zebraFinch/genome/*.sa
data/zebraFinch/genome/*.pac
data/zebraFinch/genome/*.bwt
data/zebraFinch/genome/*.ann
data/zebraFinch/genome/*.amb
data/zebraFinch/genome/*.fai
data/zebraFinch/genome/*.dict

fastp.*

out
err
__pycache__

fastq2bam/
intervalFiles/
freebayes/
gatk/
logs/



