data_preparation/
.snakemake*

# indexing and creating a sequence dictionary gets done within pipeline
data/genome/*.sa
data/genome/*.pac
data/genome/*.bwt
data/genome/*.ann
data/genome/*.amb
data/genome/*.fai
data/genome/*.dict

01_mappedReads/
02_sumstats/
slurm-*.out
sumstats.txt
out
err

snakemake_bam2vcf_GATK/01_gvcfs/
snakemake_bam2vcf_GATK/02_genomicsDB/
snakemake_bam2vcf_GATK/03_vcfs/
snakemake_bam2vcf_GATK/slurm-*.out
snakemake_bam2vcf_GATK/out
snakemake_bam2vcf_GATK/err
snakemake_bam2vcf_GATK/Combined*
snakemake_bam2vcf_GATK/__pycache__/




