name: CI
on:
  pull_request:
    branches:
    - main

jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test whole workflow
      uses: snakemake/snakemake-github-action@v1.24.0
      with:
        directory: .test/ci/
        snakefile: workflow/Snakefile
        args: "--use-conda --show-failed-logs -j 1 --conda-cleanup-pkgs cache --conda-frontend mamba"
