name: Tests

on: 
  push:
    paths-ignore:
      - "config/**"
      - "**.md"
      - "profiles/**"

jobs:

  Testing_local-fastq:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (Local Fastq > VCF)
      uses: cademirch/snakemake-github-action@v1
      with:
        directory: .test/ecoli/
        snakefile: workflow/Snakefile
        args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba"
  Testing_local-fastq_and_sra:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (Local Fastq > VCF)
      uses: cademirch/snakemake-github-action@v1
      with:
        directory: .test/ecoli/
        snakefile: workflow/Snakefile
        args: "--config samples='config/local_and_sra.csv' --use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba"
  Testing_QC:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (QC rules)
      uses: cademirch/snakemake-github-action@v1
      with:
        snakefile: workflow/modules/qc/Snakefile
        directory: .test/qc/
        args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba"
  Testing_Postprocess:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (Postprocess)
      uses: cademirch/snakemake-github-action@v1
      with:
        snakefile: workflow/modules/postprocess/Snakefile
        directory: .test/postprocess/
        args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba"
  Testing_Trackhub:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (Trackhubs)
      uses: cademirch/snakemake-github-action@v1
      with:
        snakefile: workflow/modules/trackhub/Snakefile
        directory: .test/trackhub/
        args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba"