name: Tests

on: 
  push:
    paths-ignore:
      - "config/**"
      - "**.md"
      - "profiles/**"

jobs:

  Testing:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (Local Fastq > VCF)
      uses: snakemake/snakemake-github-action@v1.24.0
      with:
        directory: .test/ecoli/
        snakefile: workflow/Snakefile
        args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba"
  Testing_QC:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test workflow (Local Fastq > VCF)
      uses: snakemake/snakemake-github-action@v1.24.0
      with:
        snakefile: workflow/Snakefile
        args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs cache --conda-frontend mamba --profile profiles/test_qc/"
